<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not uploaded %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'main:upload_csv' %}"> 
        {% csrf_token %} 
        {{ csvform.as_p }} 
        <input type="submit" value="Submit"> 
    </form>
    {% else %}
    <a href="{% url 'main:index' %}" >Reupload</a>
    {% endif %}

    {% if top10 %}
        {{ top10|safe}}
    {% endif %}


    {% if column_form %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'main:get_stats' %}"> 
        {% csrf_token %} 
        {{ column_form.as_p }} 
    <input type="submit" value="Submit">
    </form>
    {% endif %}

    {% for key,value in stats.items %}
        <li>{{ key }} :
            {% for key1,value1 in value.items %}
            <ul>
                <li>{{ key1 }} : {{ value1 }}</li>
            </ul>
            {% endfor %} 
        </li> 
    {% endfor %} 

    <!-- <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ plotter.as_p }} 
    <input type="submit" value="Submit">  -->
</form> 
</body>
</html>