{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    {% if not uploaded %}
    <form method="POST" id="csv_form" enctype="multipart/form-data" action="{% url 'main:upload_csv' %}"> 
        {% csrf_token %} 
        {{ csvform.as_p }} 
        <input type="submit" value="Submit"> 
    </form>
    {% else %}
    <div id="reupload_button_div"><a id="reupload_button" href="{% url 'main:index' %}" >Upload another CSV</a></div>
    {% endif %}

    {% if top10 %}
        <div id="table_title">Dataframe Head</div>
        {{ top10|safe}}
    {% endif %}

    {% if column_form %}
    <div class="main_container">
        <form method="POST" id="stats_form" enctype="multipart/form-data" action="{% url 'main:get_stats' %}#stats_form"> 
            {% csrf_token %} 
            {{ column_form.as_p }} 
        <input type="submit" value="Submit">
        </form>
        
        {% for key,value in stats_dict.items %}
        <div class="stats_block">
                {{ key }} :
                    <ul>
                   {% for key1,value1 in value.items %}
                        {%  if not forloop.last %}
                        <li>{{ key1 }} : {{ value1 }}</li>
                        {% elif forloop.last and value1%}
                            <p class="err_msg" >Missing values in this columns.Lets handle them!!</p>
                            <form method="POST" id="missing_value_form" enctype="multipart/form-data" action="{% url 'main:handle_missing_values' %}#stats_form"> 
                                {% csrf_token %} 
                                {{ missing_value_form.as_p }}
                                <input type="hidden" name="column_name_for_imputation" value="{{ key }}">
                                <input type="submit" value="Apply"> 
                            </form>
                        {% endif %}
                    {% endfor %} 
                    </ul>   
        </div>
        {% endfor %} 
    </div>
    {% endif %}

    {% if axis_select %}
    <div class="main_container"> 
        <form method="POST" id="plot_form" enctype="multipart/form-data" action="{% url 'main:generate_plots' %}#plot_form"> 
            {% csrf_token %} 
            {{ axis_select.as_p }} 
        <input type="submit" value="Submit">
        </form>
        {% if null_values %}
        <p class="err_msg"> Column contains Null values.</p>
        {% endif %}
        {% if plot %}
            {{ plot|safe }}
        {% endif %}
    </div>
    {% endif %}

</body>
</html>